<button id="sidebar-toggle" (click)="toggleSidebar()">
  <i class="bi bi-list"></i>
</button>

<app-asidebar></app-asidebar>

<div id="content">
  <!-- Header -->
  <div class="header mb-4">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h1 class="fw-bold mb-0">Dashboard</h1>
        <p class="mb-0">Welcome to hunters league Dashboard</p>
      </div>
    </div>
  </div>

  <!-- Main Content -->
  <main>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
