<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top ms-3 me-3 ">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <a class="navbar-brand fw-bold" routerLink="/">HUNTRES<span class="text-danger">LEAGUE</span></a>
    <div class="collapse navbar-collapse justify-content-center" id="navbarText">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
        </li>
      </ul>
    </div>
    <div class="d-flex">
      <ng-container *ngIf="isAuthenticated()">
        <button type="button" routerLink="/register" class="btn btn-danger me-2">register</button>
        <button type="button" routerLink="/login" class="btn btn-danger">login</button>
      </ng-container>
      <ng-container *ngIf="!isAuthenticated()">
        <button class="btn btn-danger" (click)="logout()">Logout</button>
      </ng-container>
    </div>
  </div>
</nav>
