<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Welcome to Maska</h1>
        <p class="lead">
          Maska is a premier hunting club located in Québec, dedicated to organizing exciting competitions for its members in three main categories: spearfishing (fish), big game hunting, and bird hunting. Join us to experience the thrill of competition, connect with fellow hunters, and celebrate the rich traditions of hunting in a modern way.
        </p>
        <p>
          <a href="#"  class="btn btn-danger me-2">create competition</a>
          <a href="#" class="btn btn-secondary ">particpate</a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <h1 class="fw-light text-center mb-5">Competitions</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://cdn.pixabay.com/photo/2016/07/07/16/46/dice-1502706_640.jpg"
              alt="Thumbnail"
              class="card-img-top"
              style="height: 225px; object-fit: cover;"
            />
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://cdn.pixabay.com/photo/2016/07/07/16/46/dice-1502706_640.jpg"
              alt="Thumbnail"
              class="card-img-top"
              style="height: 225px; object-fit: cover;"
            />
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://cdn.pixabay.com/photo/2016/07/07/16/46/dice-1502706_640.jpg"
              alt="Thumbnail"
              class="card-img-top"
              style="height: 225px; object-fit: cover;"
            />
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://cdn.pixabay.com/photo/2016/07/07/16/46/dice-1502706_640.jpg"
              alt="Thumbnail"
              class="card-img-top"
              style="height: 225px; object-fit: cover;"
            />
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://cdn.pixabay.com/photo/2016/07/07/16/46/dice-1502706_640.jpg"
              alt="Thumbnail"
              class="card-img-top"
              style="height: 225px; object-fit: cover;"
            />
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img
              src="https://cdn.pixabay.com/photo/2016/07/07/16/46/dice-1502706_640.jpg"
              alt="Thumbnail"
              class="card-img-top"
              style="height: 225px; object-fit: cover;"
            />
            <div class="card-body">
              <p class="card-text">
                This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>


        <!-- Duplicate the above col div for more cards -->
      </div>
    </div>
  </div>
</main>

<footer class="text-center py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">
      Album example is &copy; Bootstrap, but feel free to customize it for yourself!
    </p>
    <p class="mb-0">
      New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="#">getting started guide</a>.
    </p>
  </div>
</footer>
